.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
input{
    width: 300px;
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
}
button{
    width: 100px;
    margin-top: 4px;
    border-radius: 8px;
    padding: 8px;
    background-color: purple;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all;
}
button:hover{
    transform: scale(1.1);
}

.message-div{
    width: 300px;
    margin-top: 8px;
    border-top: 1px solid purple;
}
.message-div p{
    font-weight: bold;
    font-size: 22px;
}